if theme.navbar.enable
  #banner2
    .banner-line.vertical-line-top
    .banner-char-container
    .banner-line.vertical-line-bottom
    if theme.banner.cloud.enable
      include ../_widget/cloud.pug
    if theme.banner.go_down.enable
      - var fraction = "1.0"
      if theme.navbar.enable
        - var fraction="100/92"
      a#goDown(aria-label='go-down' href="javascript:window.scrollTo(0, banner.clientHeight*"+fraction+");")
        +icon(theme.banner.go_down.icon)
else
  #banner
    .banner-line.vertical-line-top
    .banner-char-container
    .banner-line.vertical-line-bottom
    if theme.banner.cloud.enable
      include ../_widget/cloud.pug
    if theme.banner.go_down.enable
      - var fraction = "1.0"
      if theme.navbar.enable
        - var fraction="100/92"
      a#goDown(aria-label='go-down' href="javascript:window.scrollTo(0, banner.clientHeight*"+fraction+");")
        +icon(theme.banner.go_down.icon)

script(src=url_for(theme.cdn.pre + theme.banner.src))