- var fraction = "100"
if theme.navbar.enable
  - fraction="93"
#banner(style='height:' + fraction + 'vh')
  //- span(id='typed').banner-char-container
  //- span(id='typed2').banner-char-container
  //- .banner-line.vertical-line-top
  div(id='s0').banner-char-container
  div(id='s1').banner-char-container
  div(id='s2').banner-char-container
  div(id='s3').banner-char-container
  div(id='s4').banner-char-container
  //- .banner-line.vertical-line-bottom
  if theme.banner.cloud.enable
    include ../_widget/cloud.pug
  if theme.banner.go_down.enable
    //- a#goDown(aria-label='go-down' href="javascript:window.scrollTo(0,banner.clientHeight*100/"+fraction+");")
    a#goDown(aria-label='go-down' href="javascript:window.scrollTo(0,banner.clientHeight);")
      +icon(theme.banner.go_down.icon)

script(src=url_for(theme.cdn.pre + theme.banner.src))
script(src=url_for("https://cdn.jsdelivr.net/npm/typed.js@2.0.9"))
